/* SCSS HEX */
$dark-red: #c4def2;
$mid-grey: #bbbbbb;
$white: #ffffff;
$light-grey: #eeeeee;
$black: #000000;

/** main color scheme **/
$main-text-color: $black;
$main-bg: $white;
$main-link: $dark-red;
$main-link-hover: $black;
$main-headers: $dark-red;

/** dark-background color scheme **/
$dark-text-color: $white;
$dark-bg: $dark-red;
$dark-link: $light-grey;
$dark-link-hover: $mid-grey;
$dark-headers: $light-grey;

/** accent-background color scheme **/
$accent-text-color: $dark-red;
$accent-bg: $light-grey;
$accent-link: $black;
$accent-link-hover: $mid-grey;
$accent-headers: $black;
