/* SCSS HEX */
$blue: #88abcf;
$mid-grey: #bbbbbb;
$white: #ffffff;
$light-grey: #777777;
$dark-yellow: #a5a762;
$black: #000000;

/** main color scheme **/
$main-text-color: $black;
$main-bg: $white;
$main-link: $blue;
$main-link-hover: $dark-yellow;
$main-headers: $blue;

/** dark-background color scheme **/
$dark-text-color: $white;
$dark-bg: $blue;
$dark-link: $light-grey;
$dark-link-hover: $mid-grey;
$dark-headers: $light-grey;

/** accent-background color scheme **/
$accent-text-color: $blue;
$accent-bg: $light-grey;
$accent-link: $black;
$accent-link-hover: $mid-grey;
$accent-headers: $black;
